
### Java template
# Compiled class file
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/zTree-common/target/
/zTree-common/.settins/
/zTree-common/.classpath
/zTree-intf/target/
/zTree-intf/.settings/
/zTree-intf/.classpath
/zTree-service/target/
/zTree-service/.settings/
/zTree-service/.classpath
/zTree-web/target/
/zTree-web/.settings/
/zTree-web/.classpath
.project
.classpath
.settings
*/logs/
.idea
*.iml

